streamlit
pandas
numpy
gspread
google-auth
plotly
aiohttp
openpyxl
python-calamine
xlrd
matplotlib
altair
sqlalchemy
psycopg2-binary
requests
boto3
Pillow
xlsxwriter
python-dotenv
kaleido==0.2.1
playwright
playwright-stealth
psutil
pyinstrument
fastapi==0.110.0
uvicorn==0.29.0
