fastapi>=0.110.0
uvicorn[standard]>=0.29.0
sqlalchemy
psycopg2-binary
pandas
numpy
aiohttp
requests
weasyprint
Pillow
boto3
python-dotenv
gspread
google-auth
openpyxl
passlib==1.7.4
bcrypt==3.2.2
python-jose
python-multipart